body {
    background-color: lightgray;
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    color: rgb(46, 46, 160);
    text-decoration: wavy;
    border: 1px;
    padding: 5px;
}

h2 {
    color: rgb(5, 91, 63);
}

.contact {
    color: brown;
    list-style-position: inside;
    padding-block: 20px;
}

article {
    margin: 15px 20px;
}

section {
    margin: 15px 20px;
    padding: 5px 8px;
}